body {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
}

.border {
    border: 5px solid black;
    padding: 15px;
    margin: 15px;
    width: 200px;
    text-align: center;
}

.border:nth-child(odd) {
    border-style: dotted;
}

.border:nth-child(even) {
    border-style: double;
}

.border:nth-child(1), .border:nth-child(2) {
    border-bottom-color: red;
    border-top-color: blue;
}

.border:nth-child(3), .border:nth-child(4) {
    border-bottom-color: green;
    border-top-color: yellow;
}
